<section class="foods bg-gradient">
  <div class="container">
    <div class="row add-food-item-action">
      <div class="col-lg-6 col-md-8" id="add-food-item">
        <div class="section-title d-flex flex-row title-ex1" id="food-lst-header">
          <h1>Shopping List</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <turbo-frame id="shopping-list-frame">
        <table class="table" id="ShoppingListTable">
          <thead>
            <tr class="tableheader">
              <th class="tablecol">User</th>
              <th class="tablecol">Food Name</th>
              <th class="tablecol">Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @shopping_list.each do |user, recipe_foods| %>
              <tr class="tableheader">
                <td class="tablecol"><%= user.email %></td>
                <td class="tablecol">
                  <% recipe_foods.each do |recipe_food| %>
                    <%= recipe_food.food.name %><br>
                  <% end %>
                </td>
                <td class="tablecol">
                  <% recipe_foods.each do |recipe_food| %>
                    <%= recipe_food.quantity %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </turbo-frame>
    </div>
  </div>
</section>