* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  background-color: #918868;
}

#navbar {
  width: 100%;
}

.navbar-nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

#public_card {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#public_card h1{
  text-align: center;
}